<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
    
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js" ></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  <script type="text/javascript" src="/js/search.js"></script>
	  <style>

      
	  .ui-helper-hidden-accessible { display:none; }

	  </style>
</head>
<body>

<div class="panel panel-default">
  <div class="panel-body">
<h5>Search for crimes</h5>
<a href = "/crimes">Go home </a>

<div class="row">
  <div class="col-lg-6">
  
    <div class="input-group">
    
      <span class="input-group-btn">

        <button id = "search" class="btn btn-default" type="button">Go!</button>
      </span>
      <input title="... please be patient ..." id = "searchinput" type="text" class="form-control" placeholder="Search for...">
     
    </div><!-- /input-group -->
     <span style= "float:right" id="chartContainer" style="height: 300px; width: 50%;"></span>
  </div><!-- /.col-lg-6 -->
 </div>

 </div>

 <ul>

	
</body>
</html>