<head>
  <meta charset="UTF-8">
  <title>New</title>


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/new.js"></script> 
</head>


<h1>Add a new crime</h1>
<a href="/crimes">See all crimes</a>

<form action="/crimes" method="POST">
  <div class="form-group">
    <label for="name">Crime: </label>
    <input type="text" class="form-control" name="crime[name]" id="name" autofocus>
    <label for="image">Image: </label>
    <input type="text" class="form-control" name="crime[image]" id="image" autofocus>
  </div>
  
  <input type="submit" value="Add" class="btn btn-lg btn-success">
</form>